.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill-card-view {
  background-color: #1a1a1a;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 15px rgba(166, 74, 201, 0.3);
  transition: 0.4s ease-in-out;
}

.skill-card-view:hover {
  border-color: #a64ac9;
  box-shadow: 0 0 25px rgba(166, 74, 201, 0.7);
}

.text-purple {
  color: #d78aff;
}
.profile-pic {
  width: 250px;               /* Fixed width */
  height: 200px;              /* Same as width for perfect circle */
  border-radius: 50%;         /* Makes it circular */
  border: 4px solid #a020f0;  /* Purple border */
  object-fit: cover;          /* Ensures the image doesn't distort */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: shadow */
}

.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}


